[2017-10-27 19:25] nebrelbug opened #1 "Add better conditional functionality"
Make it so that conditionals & options can be nested inside conditionals.

[2017-10-27 19:28] nebrelbug opened #2 "New parse function"
We need to write a function that has the same content as the `__express` function but doesn't return a callback, instead just returns the parsed HTML. You could just copy-and-paste the function code into a new function and instead of `return callback (returnContent)` just use `return returnContent`, or use other functions to have less code and repeat them in all of the functions.

Bonus: It would

[2017-10-31 17:59] nebrelbug opened #3 "Remove alt text from Github Images"
The alt text from the github fork/star/etc. images is showing up with the NPM package search description, so the alt text needs to be removed.

[2017-10-31 18:19] psycho5 commented on #3
@nebrelbug Could I call dips on this one!

[2017-10-31 21:46] nebrelbug commented on #3
Sure! Thanks for helping! I'm sorry I didn't respond sooner.

[2017-11-01 12:40] nebrelbug commented on #3
Closed by PR #8. Thanks @psycho5 !

[2017-11-01 12:40] #3 closed

[2017-11-03 04:00] nebrelbug opened #9 "Add extra brackets in the README"
Under the section "Recommended Use," each time it has two double brackets there should actually be three.

Example: `{{userInfo}}` should be changed to `{{{userInfo}}}`. **However, this should only be done in the "Recommended Use" section, where it has the code between the script tags.**

[2017-11-03 16:37] #2 closed

[2017-11-03 16:37] nebrelbug commented on #2
Latest commits with `returnHTML` function solved

[2017-11-03 16:39] nebrelbug opened #10 "Add compile function"
Make a function to pre-compile a .sqrl file

[2017-11-03 21:27] nebrelbug commented on #9
Closed by Pull Request #11 👍

[2017-11-03 21:27] #9 closed

[2018-07-10 05:58] #1 closed

[2018-07-10 05:58] #10 closed

[2018-07-10 06:03] nebrelbug opened #13 "Get everything working without any bugs"
Squirrelly now supports filters and helpers, but there are a few bugs I still need to work out--for example, when I nest native `if` helpers inside one another, it only displays the content of the center one. Since the project isn't fully developed, I think it will be me fixing the issues, and I probably won't accept any pull requests until everything works well.

Feel free to hack on it anyways t

[2018-07-11 09:42] nebrelbug commented on #13
No known bugs right now... except when you make a syntax error it's really hard to find where.

[2018-07-11 09:47] nebrelbug opened #14 "Link to benchmarks that can run in-browser"
I've written some benchmarks here: [https://github.com/nebrelbug/squirrelly-benchmarks](https://github.com/nebrelbug/squirrelly-benchmarks) but there aren't any benchmarks that you can run in the browser.

A good benchmark would include tests of:
- The time it takes to Precompile a Squirrelly template
- The time it takes to render a Precompiled template
- The time it takes for other template engin

[2018-07-19 13:39] nebrelbug opened #15 "Make IDs optional"
I'm working on that right now, and will implement it if it doesn't kill performance.

[2018-09-06 21:40] nebrelbug commented on #15
This works, I'll merge it to master soon

[2018-09-14 13:46] nebrelbug commented on #15
Merged to master! You now don't specify an id on the closing helper tag, and you don't have to have closing block tags either.

[2018-09-14 13:46] #15 closed

[2018-09-14 13:46] #13 closed

[2018-10-03 13:51] first-timers[bot] opened #16 "Add example of a conditional"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-03 14:02] HelenKing029 commented on #16
Never contributed to anything yet! Would love to try! :)

[2018-10-03 14:12] archu5 commented on #16
i am new to opensource  . would love to contribute in it for hacktoberfest

[2018-10-03 14:33] johnmutton commented on #16
Hi, I have not contributed to open source before but would like to begin and try as a first timer here! :)

[2018-10-03 14:54] Deepika309 commented on #16
Hey there, I am new to this platform. I hope this will be very helpful to me.

[2018-10-03 14:56] diya-k commented on #16
Hi, I'm new to opensource too! I'd love to start contributing :D

[2018-10-03 15:51] Shashank100297 commented on #16
Hi, this is the first time I'm trying to contribute to open source.

[2018-10-03 16:04] tredwood89 commented on #16
Hey! first-time contributor, id like to get started here!

[2018-10-03 16:31] first-timers[bot] opened #22 "Add comment explaining what defaultFilterCache is"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-03 16:37] edikxl commented on #22
I want to try

[2018-10-03 16:42] edikxl commented on #22
I need an a review

[2018-10-03 16:52] archu5 commented on #22
i want to contribute in it. accept me
.

[2018-10-03 17:40] nebrelbug commented on #16
@HelenKing029, @archu5, @johnmutton, @diya-k, @Shashank100297, @tredwood89, @Abhiraj-Tulsyan:

Thanks for your interest! We'd love your help. Since @Deepika309 submitted the first pull request, I assigned the issue to him and it's now closed.

However, there are plenty of things to work on. Be on the lookout for new issues!

[2018-10-03 17:40] #16 closed

[2018-10-03 17:56] first-timers[bot] opened #25 "Add comments explaining test file"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-03 17:58] nebrelbug commented on #22
@archu5 can you work on #25? Thank you!

[2018-10-03 18:05] ajisilva commented on #25
Hi, looking for my first commit! Can I take this?

[2018-10-03 18:19] HelenKing029 commented on #16
You did say to comment first to be invited ;)

[2018-10-03 18:41] heitorsilva commented on #25
Hi! Can I work on this one?

[2018-10-03 19:03] first-timers[bot] opened #28 "Revise comments in helpers.js"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-03 19:06] first-timers[bot] opened #29 "Add description of js native helper"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-03 19:09] nebrelbug commented on #25
I'm going to let @archu5 have first dibs on this issue.

@ajisilva and @heitorsilva thanks for your enthusiasm! There are some other issues, like #28 and #29, that you can work on if you'd like. If so, comment quickly and I'll reserve the issue for you.

[2018-10-03 19:11] ajisilva commented on #28
Can I take this one?

[2018-10-03 19:14] nebrelbug commented on #29
In addition, there needs to be a newline at the end of the file.

[2018-10-03 19:14] mitesh1612 commented on #28
Can I start with this one?

[2018-10-03 19:15] nebrelbug commented on #28
@ajisilva you can take this issue.

@mitesh1612 there should be some other issues that you can work on.

[2018-10-03 19:28] vidushi4 commented on #29
Hi,
I've created a PR for the same. Please review.
Thank you

[2018-10-03 19:32] nebrelbug commented on #28
@ajisilva edit the file and make a pull request.

After it gets merged, you'll be added as a contributor.

[2018-10-03 19:46] #29 closed

[2018-10-03 19:47] nebrelbug commented on #28
#31 closes this.

[2018-10-03 19:47] #28 closed

[2018-10-03 20:03] nebrelbug commented on #22
@edikxl I submitted a review.

[2018-10-03 21:39] first-timers[bot] opened #37 "Update README.md"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-03 21:42] nebrelbug commented on #16
@HelenKing029 You can have the first chance to do #37 if you want :smile:

[2018-10-03 21:44] nebrelbug commented on #37
@HelenKing029 has the first chance to work on this issue.

[2018-10-03 21:49] first-timers[bot] opened #38 "Add comment explaining setup function"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-03 21:52] joaopjt commented on #38
i take that

[2018-10-03 22:01] HelenKing029 commented on #37
I'll give it a go! Thanks! :)

[2018-10-03 22:31] nebrelbug commented on #37
@HelenKing029 since many people are contributing for Hacktoberfest, I'm having people create the pull request first.
If it gets merged, then they're added as a contributor, but already being a contributor isn't required to work on an issue.

[2018-10-03 22:33] nebrelbug commented on #38
Okay, @joaopjt is working on this issue.

[2018-10-03 23:53] first-timers[bot] opened #41 "Add comment explaining why we import Sqrl"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 00:06] first-timers[bot] opened #42 "Add explanation of helperAutoId"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 00:10] first-timers[bot] opened #43 "Add an explanation of helperContainsBlocks"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 00:14] first-timers[bot] opened #44 "Add explanation of 'safe' filter"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 00:19] billsakkas commented on #44
I will try that.

[2018-10-04 00:24] nebrelbug opened #45 "Run browser compatibility tests"
Squirrelly tries not to use any ES6 or experimental syntax, so it should hopefully work in most (all?) browsers. Just in case, however, we need to run more comprehensive compatibility tests. There's a chance we might have forgotten some relatively new syntax, or some obscure IE bug.

## For a good pull request:
- Test Squirrelly in multiple browsers, preferably older ones
- Create a compatibility

[2018-10-04 00:43] kimchiadobo commented on #43
I'll take this if it's still available!

[2018-10-04 00:44] nebrelbug commented on #44
Thanks @billsakkas!

[2018-10-04 00:44] #44 closed

[2018-10-04 00:45] nebrelbug commented on #42
Thanks @libbyli!

[2018-10-04 00:45] #42 closed

[2018-10-04 00:47] nebrelbug commented on #43
Great! Assigned to @kimchiadobo.

[2018-10-04 01:43] kimchiadobo commented on #43
All finished! Could I please get a review of my changes?

[2018-10-04 02:19] UtkarshGoel22 commented on #43
Hi! i am completely new to open source. Is it still available?

[2018-10-04 02:44] safal07 commented on #41
I am next in line. Just in case.

[2018-10-04 02:54] first-timers[bot] opened #49 "Add explanation of parameter regExp"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 02:56] first-timers[bot] opened #50 "Edit example default filter"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 02:57] first-timers[bot] opened #51 "Add explanation of helperArray"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 02:59] first-timers[bot] opened #52 "Add explanation of lastIndex"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 03:01] nebrelbug commented on #43
Thanks @kimchiadobo!

[2018-10-04 03:01] #43 closed

[2018-10-04 03:01] nebrelbug commented on #43
@UtkarshGoel22 this isn't available, but you could work on #49 or #50 or #51 or #52

[2018-10-04 03:02] nebrelbug commented on #41
Thanks @tonytheleg! I'll reserve this issue for you.

[2018-10-04 03:03] nebrelbug commented on #41
@safal07 you could work on #49, #50, #51, or #52

[2018-10-04 03:08] nebrelbug commented on #25
Thanks @archu5!

[2018-10-04 03:08] #25 closed

[2018-10-04 03:09] krithika-n commented on #52
Hey! I would like to claim this issue

[2018-10-04 03:10] andrew-kwong commented on #51
I would like to claim this issue please :)

[2018-10-04 03:12] first-timers[bot] opened #53 "Add explanation to include self-closing helper"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 03:13] nebrelbug commented on #51
@andrew-kwong great! Reserved 👍

[2018-10-04 03:14] nebrelbug commented on #52
@krithika-n awesome! Reserved 👍

[2018-10-04 03:16] brendanpettis commented on #53
Dibs!

[2018-10-04 03:18] nebrelbug commented on #53
@brendanpettis done 😄

[2018-10-04 03:20] catherineyeh commented on #52
Hi, I would like to claim this issue!

[2018-10-04 03:30] nebrelbug commented on #51
Thanks @andrew-kwong!

[2018-10-04 03:30] #51 closed

[2018-10-04 03:33] #53 closed

[2018-10-04 03:34] nebrelbug opened #56 "Improve Performance"
If you can improve performance in any way (without sacrificing functionality) or have any ideas, comment here!

[2018-10-04 03:41] safal07 commented on #49
Ill grab this.

[2018-10-04 03:43] nebrelbug commented on #49
@safal07 awesome. Reserved 👍

[2018-10-04 04:51] Shashank100297 commented on #50
Hey! I would like to claim this

[2018-10-04 05:34] kausha15 commented on #56
Hello @nebrelbug ,
Can I take up this task ?

[2018-10-04 08:30] bsaptarshi commented on #50
@Shashank100297 if you're not already on to it, I'd like to claim this!

[2018-10-04 08:48] Shashank100297 commented on #50
Yeah, Okay

[2018-10-04 09:00] bvishal8510 commented on #56
you can refer to [https://developers.google.com/speed/pagespeed/insights/](URL) for suggestions to improve sight

[2018-10-04 12:36] Sharma-Rajat commented on #50
I can claim any issues like this if there are any left :)

[2018-10-04 14:30] kanikaguptaiitm commented on #49
I want to claim this issue.

[2018-10-04 15:43] nebrelbug commented on #56
@kausha15 yes, that would be great! There's no limit to contributors for this issue, so if you have any ideas you can comment or make a pull request.

[2018-10-04 15:44] nebrelbug commented on #56
@bvishal8510 Pageseed Insights is great, but this issue is about improving the time it takes for the Compile() function to execute

[2018-10-04 15:45] #41 closed

[2018-10-04 15:49] nebrelbug commented on #50
Who wants to do it, @bsaptarshi or @Shashank100297?

[2018-10-04 15:57] Shashank100297 commented on #50
I'm dropping. Let @bsaptarshi do it.

[2018-10-04 16:19] Dravinbhatia commented on #52
Heyy....I am new to open source.I want to claim this issue....

[2018-10-04 17:47] nebrelbug commented on #50
Okay, assigned to @bsaptarshi

[2018-10-04 17:54] first-timers[bot] opened #60 "Add clarifications to broken-down regEx"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 17:55] first-timers[bot] opened #61 "Explanation for Render()"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 17:57] first-timers[bot] opened #62 "Comment about reassigning lastIndex"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 18:01] first-timers[bot] opened #63 "Comment about self-closing helpers"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 18:04] nebrelbug commented on #52
@Artistic18 and @Dravinbhatia you could work on #60, #61, #62, or #63

[2018-10-04 18:05] nebrelbug commented on #50
@Sharma-Rajat you could work on #60, #61, #62, or #63

[2018-10-04 18:06] first-timers[bot] opened #64 "Explain why we trim each filter"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 18:11] Dravinbhatia commented on #62
heyy....i want to claim this issue....

[2018-10-04 18:12] nebrelbug opened #65 "Make an example project, using Squirrelly, for beginners"
A good project would be fairly simple, and well commented.
Steps:
1. Create new project using Squirrelly
   * It could use Express, or run as a web page, or something else
2. Upload project to Github
3. Comment here with the link--we'll probably put it in `cheatsheet.md` or the online docs or wiki

[2018-10-04 18:12] vincentle commented on #61
First time issue claim

[2018-10-04 18:12] nebrelbug commented on #62
@Dravinbhatia great! Reserved.

[2018-10-04 18:13] nebrelbug commented on #61
@vincentle awesome! Reserved.

[2018-10-04 18:15] nebrelbug commented on #56
@kausha15 do you have any ideas?

[2018-10-04 18:20] hkulur commented on #64
Hey,
First timer here! I want to claim this issue.

[2018-10-04 18:27] 1Oozaru1 commented on #60
I would like to claim this issue.

[2018-10-04 18:28] iRewiewer commented on #64
Aye aye mates. I'd like to claim this issue too.

[2018-10-04 18:29] iRewiewer commented on #63
Hyia! Could I claim this issue please?

[2018-10-04 18:30] AllUsernamesHaveBeenTaken commented on #63
Hi, I am already on it. Thanks.

[2018-10-04 18:34] Esslamb commented on #64
Hi, I would like to claim this issue :)

[2018-10-04 18:46] safal07 commented on #49
@nebrelbug Should I be waiting for me to be a contributor?

[2018-10-04 18:57] Artistic18 commented on #63
Can i work on it?

[2018-10-04 18:58] Artistic18 commented on #60
Can i work on it?

[2018-10-04 19:01] AllUsernamesHaveBeenTaken commented on #63
Already done.

[2018-10-04 19:02] ptella commented on #60
Can I work on it please?

[2018-10-04 19:13] #63 closed

[2018-10-04 19:19] #62 closed

[2018-10-04 19:35] first-timers[bot] opened #70 "Add explanation of helper ref '../' test"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 19:35] nebrelbug commented on #70
Reserved for @Artistic18 if they want

[2018-10-04 19:35] Artistic18 commented on #60
ok thanks

[2018-10-04 19:36] Artistic18 commented on #70
Yes i will take it.Thanks

[2018-10-04 19:53] #70 closed

[2018-10-04 21:02] krithika-n commented on #52
@nebrelbug  Thanks :) On it

[2018-10-04 21:07] krithika-n commented on #52
Please review my pull request

[2018-10-04 22:49] first-timers[bot] opened #73 "Add 'comments' as a feature"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 23:03] Jayadev6191 commented on #65
@nebrelbug  Can I take this ?

[2018-10-04 23:06] dlarner3194 commented on #73
I will tackle this one.

[2018-10-04 23:12] triangulum commented on #73
Happy to help/learn, if you have some more tasks!

[2018-10-04 23:14] RyanLilla commented on #73
Would also like to help if there are more issues!

[2018-10-04 23:17] nebrelbug commented on #65
@Jayadev6191 that would be great!

[2018-10-04 23:17] nebrelbug commented on #73
Awesome! Reserved for @dlarner3194

[2018-10-04 23:18] nebrelbug commented on #73
@triangulum and @RyanLilla be on the lookout for more issues soon 😃

[2018-10-04 23:25] first-timers[bot] opened #74 "Add example of looping over arrays to cheatsheet"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 23:27] nebrelbug commented on #74
@RyanLilla great! Reserved.

[2018-10-04 23:32] dlarner3194 commented on #73
hey @nebrelbug should I fork the repo or wait for the invite to the repo? Thanks!

[2018-10-04 23:58] nebrelbug commented on #73
@dlarner3194 just fork the repo and create a pull request. You'll become a contributor after the pull request gets approved. Thanks!

[2018-10-05 00:06] #74 closed

[2018-10-05 00:08] #73 closed

[2018-10-05 01:34] first-timers[bot] opened #77 "Modify pull request template"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-05 01:44] sarahann6 commented on #77
I'd like to try to claim this!

[2018-10-05 01:46] nebrelbug commented on #77
@sarahann6 awesome! Consider it claimed.

[2018-10-05 01:59] rmsim commented on #77
Hi! Love to claim this too!

[2018-10-05 02:17] #77 closed

[2018-10-05 02:18] nebrelbug commented on #77
Sorry @rmsim, this issue was already claimed. If you 'watch' the repository, though, there should be some new issues soon 😃

[2018-10-05 02:38] first-timers[bot] opened #79 "Add example of looping over objects to cheatsheet"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-05 03:00] ilhamtaufiq commented on #79
may i claim this?

[2018-10-05 03:01] nebrelbug commented on #79
@ilhamtaufiq sure! Consider it claimed.

[2018-10-05 03:30] ullayne02 commented on #79
Can i still claim this?

[2018-10-05 06:34] hkulur commented on #64
Thanks @nebrelbug! Have raised a PR #81 for this.

[2018-10-05 09:39] mosman128 commented on #79
I'd like to claim this issue

[2018-10-05 13:45] #64 closed

[2018-10-05 13:46] #79 closed

[2018-10-05 13:58] first-timers[bot] opened #83 "Add example of logging to console to cheatsheet"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-05 14:04] siddhant-soni commented on #83
hey can i take this?

[2018-10-05 14:09] razi-ed commented on #83
can i claim this issue please?

[2018-10-05 15:03] nebrelbug commented on #83
@razi-ed sure! Consider it claimed.

[2018-10-05 20:43] first-timers[bot] opened #85 "Add comment to example Sqrl file"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-05 20:48] first-timers[bot] opened #86 "Add explanation of funcStr"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-05 20:50] dlarner3194 commented on #85
I'll grab this one

[2018-10-05 20:55] nebrelbug commented on #85
@dlarner3194 since you've already contributed, would you be able to work on a different, not 'first-timers-only' issue? Maybe you could work on #65. Thanks for your enthusiasm!

[2018-10-05 21:17] dlarner3194 commented on #85
@nebrelbug looks like that one has already been assigned. Can I get started on it anyways?

[2018-10-05 21:20] JoeCrescoll commented on #86
Hello,

I'd be glad to try to make my first open source contribution with this issue :)

[2018-10-05 21:39] electricgnome commented on #60
Hi, I'd like to claim this issue

[2018-10-05 21:44] first-timers[bot] opened #87 "Add explanation of why Compile = {} in runtime"
### 🆕☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 😃

[About First Timers Only](http://www.firsttimersonly.com/).

### 🎃💻👕 Hacktoberfest: Trick or Treat!
If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digi

[2018-10-05 21:47] nebrelbug commented on #60
@electricgnome this issue is already reserved, but you could work on #87 or another issue with the 'available' label.

[2018-10-05 21:47] JoeCrescoll commented on #86
Done :)

Feel free to tell me if i missed or did something wrong.

[2018-10-05 21:49] #86 closed

[2018-10-05 21:58] jeanha124 commented on #85
can I do this one as well?

[2018-10-05 22:02] nebrelbug commented on #85
@jeanha124 sorry, this one has already been assigned. You could work on one of the other available issues though, or work on #65 (which a couple of people can be working on). Thanks!

[2018-10-05 22:34] nebrelbug commented on #87
@chepora awesome! I'll reserve it for you.

[2018-10-05 22:35] nebrelbug commented on #85
Sorry @jeanha124, just realized it hasn't been assigned 😄. You can work on it if you want.

[2018-10-05 22:40] jeanha124 commented on #85
thank you

[2018-10-05 22:50] chepora commented on #87
Thank you!
PR: #89

[2018-10-05 22:56] #87 closed

[2018-10-06 18:03] #83 closed

[2018-10-06 19:42] first-timers[bot] opened #91 "Add comment explaining setDefaultFilters('clear')"
### 🆕☝ First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 😃

[About First Timers Only](http://www.firsttimersonly.com/).

### 🎃💻👕 Hacktoberfest: Trick or Treat!
If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.digi

[2018-10-06 19:47] amardeep24 commented on #91
I'll start working on it.

[2018-10-06 22:10] nebrelbug commented on #91
@amardeep24 great, thanks!

[2018-10-06 22:12] #91 closed

[2018-10-08 21:35] nebrelbug commented on #65
@Jayadev6191 do you have any questions?

[2018-10-08 21:36] nebrelbug commented on #49
@safal07 sorry I haven't responded. No, you become a contributor after you get a pull request merged. I updated the issue template :)

[2018-10-08 22:30] #49 closed

[2018-10-09 03:18] nebrelbug commented on #65
@Jayadev6191 I actually just found a bug with Squirrelly and Express ☹️. Hopefully I'll have it fixed by tomorrow, but pause on your repo until then. Thanks!

[2018-10-09 04:50] Jayadev6191 commented on #65
No worries. Thanks for letting me know!

[2018-10-09 18:53] Artistic18 commented on #14
Can you please elaborate what we have to do?

[2018-10-09 19:04] #38 closed

[2018-10-10 03:05] nebrelbug commented on #65
Hi @Jayadev6191! I just pushed changes that should fix the problem (along with adding caching, which should make everything a lot faster) to the `fsprob` branch.

After a little more testing, I'll merge the changes to master and publish a new version on NPM, hopefully by the end of tomorrow. At that point, you'll be able to work on it :)

[2018-10-11 04:10] Jayadev6191 commented on #65
Hi @nebrelbug great! Please let me know once you publish it :)
Also, can you explain how that bug that you are trying to fix is blocking me from making additional changes ?

[2018-10-12 15:49] bourguy commented on #85
Hi @nebrelbug , Can I claim that one? Looks like it is still open.
Thanks!

[2018-10-12 19:41] nebrelbug commented on #85
It's assigned to @jeanha124. @jeanha124, if you're not available to work on the project within the next couple of days, could you let @bourguy work on this issue instead? Thanks!

[2018-10-12 20:32] jeanha124 commented on #85
I made a pull request a couple days ago, but didn’t get a response.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Ben Gubler <notifications@github.com>
Sent: Friday, October 12, 2018 15:41
To: nebrelbug/squirrelly
Cc: Jean Ha; Mention
Subject: Re: [nebrelbug/squirrelly] Add comment to example Sqrl file (#85)

It's assigned to @jeanha124<https://github.com/jean

[2018-10-12 20:43] nebrelbug commented on #85
@jeanha124 I reviewed your pull request, but it must not have sent you a notification :). Just click on the pull request and you should be able to see it. Thanks!

[2018-10-13 21:47] Jayadev6191 commented on #65
Hi @nebrelbug  sounds great! I will continue working on the example project without the beta. Thanks! :)

[2018-10-16 13:42] nebrelbug commented on #50
Sorry @bsaptarshi, the issue template is a little unclear.  You can just start working on the issue and create a pull request. After one of your pull requests is merged, you get the title of "Contributor", but it's not required to work on it. Thanks!

[2018-10-16 13:44] #85 closed

[2018-10-16 23:29] bsaptarshi commented on #50
Thanks for the update, @nebrelbug.

[2018-10-18 08:47] jamesrbedwell commented on #52
Can I claim this issue please?

[2018-10-19 16:47] nebrelbug commented on #65
@Jayadev6191 I just published version `6.0.1`. Working with Squirrelly and Express should be lots easier now--just follow the instructions here: [https://expressjs.com/en/guide/using-template-engines.html](https://expressjs.com/en/guide/using-template-engines.html) but with Squirrelly. Thanks!

[2018-10-20 18:16] Jayadev6191 commented on #65
Thank you sir! Will work on this today and tomorrow.

[2018-10-22 18:03] Jayadev6191 commented on #65
@nebrelbug The changes you made for the package(to make it work on express) expects the template files to have any specific extension (for e.g <temaplate_name.sqrl>) ? Please confirm. I made changes to my main file to have a view engine and passed Sqrl object to it.

`
let express = require('express');
let path = require('path');
let Sqrl = require("squirrelly");
let app = express();

app.set('vie

[2018-10-22 19:32] nebrelbug commented on #65
That looks good! It expects files to have the extension `.squirrelly`, so for example `index.squirrelly`. I know you can just do `app.set('view engine', 'squirrelly')`, but your way might work too. You should also just be able to `app.set('views', './views')`. Thanks!

[2018-10-27 04:20] mikeerickson opened #96 "I read docs :)"
And I noticed that the README lists gzip size is 2.6 and docs say 2.5 :)

[2018-10-27 12:16] nebrelbug commented on #96
Thanks @mikeerickson!

[2018-10-27 15:19] #96 closed

[2018-10-27 16:43] MdotB commented on #50
Hi - I'd like to claim this as my first issue. Can you please add me as a contributor?

[2018-10-28 02:28] nebrelbug commented on #50
@bsaptarshi if you're not able to work on this issue within the next few days, would you be willing to let @MdotB work on it?

[2018-10-30 18:51] joelgerber commented on #52
I'd like to claim this.

[2018-10-30 23:58] krithika-n commented on #52
@nebrelbug  Sorry! I have removed the '+' like you suggested. If there are any more things which i missed, you can reassign the issue to @jamesrbedwell . Sorry, again.

[2018-10-31 22:52] nebrelbug commented on #52
@jamesrbedwell and @joelgerber keep checking this repository! New issues may open up soon.

[2018-10-31 22:52] #52 closed

[2018-10-31 22:54] nebrelbug commented on #50
@MdotB if you could work on this issue, it would be great. Thanks!

[2018-10-31 22:55] nebrelbug commented on #60
@1Oozaru1 if you're not able to work on this issue within the next few days, will you let someone else work on it? Thank you!

[2018-10-31 22:55] nebrelbug commented on #65
@jeanha124 do you need any help? Here's a link that might be useful: https://squirrelly.js.org/recipes/squirrelly-with-expressjs. Thank you!

[2018-10-31 22:56] bsaptarshi commented on #50
@nebrelbug Sorry for the delay in response and not having worked on this; I got caught up in some urgent work and couldn't focus on this for a while. All the best on this @MdotB !

[2018-11-01 01:57] nebrelbug commented on #65
Sorry @Jayadev6191!

[2018-11-01 01:58] nebrelbug commented on #50
Thanks @bsaptarshi!

[2018-11-01 19:07] nebrelbug commented on #60
Sorry @1Oozaru1, my bad. I must have forgotten to close this issue and mistakenly assumed it was open. Thank you for telling me!

[2018-11-01 19:07] #60 closed

[2018-11-02 16:17] arthurhess commented on #50
I see Mike is the next in line, but it's been a couple of days and the task doesn't seem to be assigned to anyone. @MdotB, if you changed your mind, I would like to edit the _defaultFilters_ object. Thanks.

[2018-11-08 10:03] sleekdevelopment opened #98 "Cant create else if block"
I tried to implement else if block. is it possible ?

[2018-11-08 18:46] nebrelbug commented on #98
You would need to do something like this:
[code]
You could also define your own helper, say you called it `IF`:
[code]
[code]
Here's a CodePen demo I put together as well: https://codepen.io/nebrelbug/pen/NENaga
Hope this clears things up!

[2018-11-09 03:14] nebrelbug commented on #50
@MdotB you're free to work on this.

[2018-11-09 03:22] nebrelbug opened #99 "Announcements!"
To start off... I just published `7.0.0-beta`!

## Major Changes
- Newlines right after a tag will be removed. That means this:
[code]
Will turn into `Display this` instead of:
[code]
- The great dollar sign crisis is resolved! In version 6, references like `{{hi$ih}}` would break. Now, you can have dollar signs anywhere! (_You can technically now start a reference with a number, like `1` or `2`,

[2018-11-13 03:34] nebrelbug commented on #98
@sleekdevelopment I'm going to close this now. Hope you were able to find a good solution!

[2018-11-13 03:34] #98 closed

[2018-11-25 00:57] nebrelbug opened #101 "Squirrelly now has a Gitter Chatroom!"
Join here: https://gitter.im/squirrellyjs/Lobby

[2018-11-28 18:55] nebrelbug commented on #50
@Sharma-Rajat would you like to work on this?

[2018-12-14 13:04] xumium commented on #50
@nebrelbug I can take this issue today if still available

[2018-12-14 17:14] nebrelbug commented on #50
@xumium great!

[2018-12-19 20:56] #101 closed

[2018-12-21 09:35] kokujin opened #102 "Questions"
1. Is it possible for templates to inherit from a layout template? ( Swig, Nunjucks e.t.c)
2. Better/ More examples showing how to use partials?

You mentioned giving up on this thread, https://github.com/dondido/express-es6-template-engine/issues/11#issuecomment-388581032. Is this still the case?

Thanks

[2018-12-21 16:50] nebrelbug commented on #102
Hi @kokujin, thanks for the questions! There's no default way for templates to inherit from a layout template, but it would be relatively easy to implement using helpers. Here's how a template could look after you registered two helpers:
[code]
Then, your layout could look like this:
[code]
And the `use` helper could just render the layout template with the values of its blocks. That probably make

[2018-12-25 20:02] kokujin commented on #102
Happy holidays and thanks @nebrelbug.

[2018-12-25 20:02] #102 closed

[2018-12-25 20:07] kokujin opened #103 "Fastify support"
It would be great if Squirrelly, probably the fastest templating engine could be used with [Fastify](https://www.fastify.io/benchmarks/), probably the fastest web framework.

[2019-01-10 02:20] Indribell opened #104 "undefined ..."
When having a tag in the code:

[code]

[code]

The "cakerrrsr" that has no matching data in a json, results in "undefined" being printed onscreen. It may be better to not display anything, like Handlebars and co do.

[2019-01-10 19:52] nebrelbug commented on #103
That's a great idea! I may start working on a plugin.

[2019-01-11 00:47] #50 closed

[2019-02-11 23:38] nebrelbug opened #106 "Squirrelly version 8: layouts, plugins, new parser, and new language features"
## Squirrelly version 8 is underway!
Feel free to comment with suggestions or requests!

### Syntax and Code Changes
- Bundling with Rollup instead of Webpack
  - I've been experimenting with this, and right now squirrelly.runtime.js is down to 995 Bytes, without being gzipped!
  - In addition, I'll add a Babel transpiler to make sure everything is compatible.
- runtime.js will have a separate ent

[2019-02-11 23:40] nebrelbug commented on #104
Hi @Indribell! I've been thinking about this, and I think that including an option to enable this behavior might be a nice feature for version 8! If you would like to see this, please comment on the version 8 issue I created.

Thanks!

[2019-02-11 23:40] #104 closed

[2019-02-11 23:40] #99 closed

[2019-02-11 23:40] nebrelbug commented on #99
See the new issue about version 8 for more announcements!

[2019-02-11 23:41] #103 closed

[2019-02-11 23:57] nebrelbug commented on #106
I'm also considering writing packages that will allow Squirrelly to work with:
- Fastify
- Koa
- Metalsmith

And more!

[2019-02-13 00:50] Indribell commented on #106
Having the option to hide "undefined" for variable might be a good idea. Maybe production vs debug setting?

As in session / local storage caching? That is what i currently do with templates. I found keeping them in the session storage, is a good balance between keeping "up to date" and being able to update on changes.

Another technique i have experimented with, is including in the local scope by

[2019-02-13 01:46] nebrelbug commented on #106
@Indribell thanks for the feedback!

Maybe we should add a production flag that would add hiding `undefined` to the default filter.

Right now, I think I'll just add a way to export as a JS/JSON object. That way, you could save it in a separate file, in local or session storage, etc., and then load it when needed.

Always a good thing to keep in mind 😄. I should have clarified, I'm going to build

[2019-02-13 01:47] nebrelbug commented on #106
I'm trying to add working Runkit examples to the docs, but the styling is broken. Hopefully I'll get this working soon 😃

[2019-02-13 15:50] Indribell commented on #106
Here is another idea. Currently squirrelly can not properly handle multiple templates in the same template file.

Example of some Handlebar template:

[code]

Maybe include the ability to render multiple template with a selector like Handlebars can do. Why?

Its cheaper to send one big file that is 5KB compressed, vs 1KB + 2KB + 3KB multiple requests. Even if part is not used.

The reduction in ro

[2019-02-24 18:19] matkinson89 commented on #14
Is this issue still open to work on?

[2019-02-25 12:17] nebrelbug commented on #14
@matkinson89 yes, it would be wonderful if you wanted to work on it.

[2019-03-03 09:04] ichiriac commented on #56
Not tested but common parsing problem with regex is that they take way more time than an LR/LL(1) generated parser (some multiple performance improvements) and same room of improvement for hand written lexer/parser (so in principle you can almost divide by 2 or more the parsing costs depending on is your regexes are already optimized)

[2019-03-04 11:54] nebrelbug commented on #56
@ichiriac thanks for the comment! I've thought of using a parser, but here are some of my concerns:
- JavaScript optimizes RegExp
- The way Squirrelly works is by looping through a RegExp match statement, and appending a certain JS string, based on what the match is. That means that Squirrelly does _not_ have to generate tokens first and _then_ create a function.

I think it's still a valid sugges

[2019-03-04 22:41] ichiriac commented on #56
Hi @nebrelbug,

A good starting point would be pegjs - https://pegjs.org/, but it comes with drawbacks, generated code is ugly, hard to debug, and the resulting code is long, in principle more rapid than regex but still slow.

Next you can write it by hand, all you need is a lexer to extract tokens, and then a grammar parser to expose the AST.

The simplest way to find out if you can improve the p

[2019-03-05 00:02] nebrelbug commented on #56
Thanks @ichiriac, that would be great if you could test that!

I've been toying with the idea (since my RegExp is so messy) but I'm not sure that it will end up being faster, since with RegExp I don't have to generate an AST or tokens.

On the other hand, maybe a parser will be much faster! Who knows?

[2019-03-24 16:13] eduardhasanaj2 opened #107 "Add explanation for precompilation"
I am trying to understand if we can precompile with webpack.
With handlebars we just invoke handlebar compiler or include handlebar loader. After precomplation we have generated function.
How can we achieve that in Squirrelly?

[2019-03-25 12:28] nebrelbug commented on #107
Hi @eduardhasanaj2, thanks for the question! Does this interactive demo help?

[Interactive Demo](https://runkit.com/nebrelbug/5c98c8211baf98001227e895)

[2019-03-26 12:25] eduardhasanaj2 commented on #107
Hi @nebrelbug , thank you for your time.
I was wondering if with precompile we assume that the functions are stored in file during webpack packaging.
This scenario is handled by handlebars where we can get compiled result in files so we do not have to precompile at start.

[2019-03-26 12:29] nebrelbug commented on #107
Hi @eduardhasanaj2! You can do `Sqrl.renderFile(filePath, options)` if you want to render a template directly from a file. This will also cache the template function.

As of right now, you have to load the templates yourself, usually with `renderFile` (you can't just `require` them in Webpack). I'm planning on writing a Webpack loader soon though!

[2019-03-26 22:28] konstardiy opened #108 "Add layouts support"
The Squrelly is great template engine. I just found a single limitation in this engine.
There is no layouts support.
I expected that would be able to use syntax like this:
in *layout.html*
[code]
in *page.html*

[code]
Idea is to introduce some syntax to allow inheritance for templates, when a template can override blocks inherited from "parent" layout.

[2019-03-26 23:08] nebrelbug commented on #108
Hi @konstardiy, thanks for the feedback! This is a feature I'll implement in version 2, which will hopefully be released within a month.

P.S. I just edited your issue to so it's formatted as code, which makes it a little easier to read 😄

[2019-03-26 23:13] konstardiy commented on #108
Thanks for re-formatting. I did not used to that formatting for a while.

[2019-03-27 11:44] eduardhasanaj2 commented on #107
I am just confused with precompilation.
I thought that there was a way that we can precompile into functions not in runtime.
So we put some files that hold the templates and as result we take precompiled template functions as in case of handlebar.

[2019-03-29 02:31] nebrelbug commented on #107
Hi @eduardhasanaj2, thanks for the late reply!

Here is an example of precompiling a Squirrelly template:

In **precompile.js**
[code]
Then run `node precompile.js`
This will create a file called `precompiledTemplate.js` that contains the precompiled function.

To use your precompiled template in a website, you can do this:
In the same directory, create **index.html**
[code]
First, we link to the

[2019-03-29 16:02] eduardhasanaj2 commented on #107
Thats what I wanted.
Thank you.

[2019-03-29 16:03] #107 closed

[2019-03-29 16:14] nebrelbug commented on #107
You're welcome. Feel free to ask any more questions!

[2019-04-10 02:54] nebrelbug commented on #106
## Version 8 Update

Don't worry if you haven't seen any recent development on GitHub--right now, I'm working on my local computer.

After a lot of thought, I'm currently handwriting a parser that I think will make Squirrelly more reliable and functional.

The basic template syntax will probably stay the same, except helpers will be prefixed with `~` (so `{{~if(options.something)}}` instead of `{{

[2019-04-13 23:12] ppKrauss opened #109 "Cite Mustache at README"
Hi, is interesting to cite inspiration, similarities and differences with [Mustache](https://mustache.github.io/).

[2019-04-15 15:53] nebrelbug commented on #109
@ppKrauss that's a great idea! I'd also like to compare it with Handlebars. Would you be interested in making a pull request with the changes?

[2019-04-17 07:08] florent1933 opened #110 "Conditionals inside loop with use of variable loop"
I am using squirrelly  as a templating engine for nodeJS.

I didn't succeed to use conditionals with the variable from the loop.

[code]

Is it possible?

[2019-04-17 17:53] nebrelbug commented on #110
Hi @florent1933, thanks for the question!

You just need to change `this.platform` to `@this.platform`.

[code]

I'm glad to hear that you're using Squirrelly! Feel free to ask any more questions you might have :+1:

[2019-04-17 17:53] nebrelbug commented on #110
Let me know if this solves your problem.

[2019-04-19 13:34] florent1933 commented on #110
It's working like a charm. Thanks @nebrelbug 🥇

[2019-04-19 13:34] #110 closed

[2019-04-19 14:31] nebrelbug commented on #110
@florent1933 great! If you have any more questions, don't hesitate to contact me 😃

[2019-05-24 19:42] pbrianmackey opened #112 "Does Squirrelly support conditional operators?"
Is there support for this kind of logic:

[code]

Handlebarsjs was my first try and it doesn't support it natively.  I read through the documentation and could not find the answer to this.

[2019-05-24 20:12] nebrelbug commented on #112
Hi @pbrianmackey, thanks for the question! There is support for conditionals, and they have exactly the syntax that you wrote down.

Here's an example:
https://runkit.com/nebrelbug/squirrelly-with-conditionals

[2019-06-02 18:21] sonnylloyd opened #113 "Filter chaining not working correctly."
**Describe the bug**
For some reason chaining filters seems to be getting the original string and not the filtered string.

Here is my defined filters also i swapped the tags due to my previous custom code engine (simple replace).

`Sqrl.defaultTags(["{","}"]);
Sqrl.defineFilter("excerpt", function (str) {
  return str.substring(0,55);
});
Sqrl.defineFilter("length", function (str) {
  return str.

[2019-06-04 02:31] #112 closed

[2019-06-04 02:58] nebrelbug commented on #113
Hi @sonnylloyd, thanks for the question!

Right now, filter chaining is unfortunately actually broken. For now, the best solution would just be to create one filter that does the job of both filters (`return str.substring(0,55).length`), until we push a fix.

Any more questions?

[2019-06-09 15:23] tabarra opened #115 "Is there a way to disable template caching/precompilation on renderFile()?"
I am currently using the `renderFile()` function but would like to have squirrelly go get the file each time I call the function.

For now I'm using the following "hack":
[code]

But it would be good if the `renderFile()` could have "no cache" as the third parameter.

[2019-06-13 18:11] iamw00t commented on #1
Was this updated to support nested conditionals? If so can you provide me an example please, I can't seem to do it

[2019-06-16 03:20] nebrelbug commented on #115
Thanks for the question @tabarra!

Actually, there should be a way to do this already.

In your data, you can set `$cache` to false. So, for example, you can do:

[code]

Let me know if this solves your problem, and if you have any more questions!

[2019-06-18 00:14] nebrelbug commented on #1
Hi @iamw00t, thanks for the question! Nested conditionals do now work. Example:

https://runkit.com/nebrelbug/squirrelly-nested-conditionals

Let me know if this solves your problem!

[2019-06-25 08:56] raydenx commented on #106
@nebrelbug When are you planning to release version 8?

[2019-06-25 14:12] nebrelbug commented on #106
@raydenx I just finished the new parser (probably the most difficult part) and I've tested out Rollup. Currently, the main thing I need to do is add aysnc support to templates, and I'm hoping I'll have that done by mid-July, and a full release by the end of July.

[2019-06-25 16:12] xaja opened #116 ""IF greater than" not working"
So, this is working:

`{{if(@index === 1)}}`

But this not:

`{{if(@index > 1)}}`

And like this also not working:

`{{if(data.length > 1)}}`

[2019-06-25 18:57] nebrelbug commented on #116
Hi @xaja, thanks for the question! Would you mind providing me with the template and/or data you're using?

[2019-06-25 18:58] nebrelbug commented on #116
One thing I did notice is that `{{if(data.length > 1)}}` should probably be `{{if(options.data.length > 1)}}`

[2019-06-25 19:22] xaja commented on #116
so, here is demo https://jsfiddle.net/3ezko4L8/
uncomment `{{if(@index < 1}}` to see error

i want to print only first item, for example

[2019-06-25 19:32] xaja commented on #116
hm, while i prepare demo, i figure strange situation:

demo 1: https://jsfiddle.net/f40yrv81/ no errors (all data printed)
demo 2: now i add `if > 1`  https://jsfiddle.net/f40yrv81/1/ everything is broken
demo 3: now i add Comments to lines with this `if` https://jsfiddle.net/f40yrv81/2/ and it print only first item (as i want).

Is this how it should work?

[2019-06-25 19:42] nebrelbug commented on #116
Hi @xaja, I think I've found the problem. The HTML parser thinks that the `<` in `{{if(@index < 1)}}` is the first part of a closing `</template>` tag. When you add HTML comments around the tag, it solves that problem, and Squirrelly doesn't care about HTML-style comments. If you 'Inspect Element', you can see the resulting HTML is:

[code]

Squirrelly renders the ``, which are outside of the `{{i

[2019-06-25 19:45] nebrelbug commented on #116
When you change the render to:

[code]

It works.

[2019-06-25 19:51] nebrelbug commented on #116
Does this solution work for you? Otherwise, you'll need to write your template inside of a JS string, like: [https://jsfiddle.net/rfLth8bn/6/](https://jsfiddle.net/rfLth8bn/6/)

[2019-06-25 19:55] xaja commented on #116
situation with `` is ok for me, but thanks for another examples!

i think it's a good idea to add in Docs some info from this issue.

great product, thanks again!

[2019-06-25 20:01] nebrelbug commented on #116
Thanks @xaja, I'll certainly add that to the docs.

You're welcome, and let me know if you have any more questions!

[2019-06-26 14:10] #116 closed

[2019-06-27 20:41] tabarra opened #117 "Issue with EOL parsing."
**Describe the bug**
The library seems to be ignoring LF as line endings.

**To Reproduce**
Consider this code:
[code]

**Expected behavior**
[code]

**Output received**
[code]

**Browser [e.g. chrome, safari]**
Any

**Additional context**
Works perfectly when the template is using CRLF.

[2019-06-27 22:19] nebrelbug commented on #117
Hi @tabarra thanks for opening the issue!

Squirrelly is set to remove `\n` if it follows `[tagOpen]content[tagClose]`, but not `\r\n`.

Since LF just uses `\n`, Squirrelly will replace the newline right after a tag, so `{{myTag}}\n` will become `options.myTag`. But with CRLF, `\n` doesn't directly follow the tag, it follows `\r`, so it's not replaced.

Since Squirrelly only replaces the first new

[2019-06-27 22:19] nebrelbug commented on #117
By the way, were you able to try out my tip in #115?

[2019-06-29 19:32] tabarra commented on #115
Hey @nebrelbug,
I'm having trouble with the cache option.

Consider test.js:
[code]

And template.txt:
[code]

I'm getting `TypeError: Cannot read property 'slice' of undefined` when cache is set to false.
Screenshot of the terminal: https://i.imgur.com/PbjyMvm.png

Currently using `squirrelly@7.1.3` btw.

[2019-06-29 19:34] tabarra commented on #117
Thank you for the reply.
Closing this issue :)

[2019-06-29 19:34] #117 closed

[2019-06-30 01:47] nebrelbug commented on #115
Hi @tabarra, I figured out the problem! I'll try and push a fix by the middle of next week.

Thanks for the great questions and feedback!

[2019-07-12 22:32] nebrelbug commented on #115
Hi @tabarra! With Squirrelly 7.2.0, this issue should be fixed.

As warning, however, your custom function may be faster than `renderFile` because `renderFile` isn't async.

Hope this helps!

[2019-07-13 03:55] tabarra opened #118 "Parsing error with escaped single quotes on template"
**Describe the bug**
When trying to render a template that contains an escaped single quote (`\'`) squirrelly throws a SyntaxError.

**To Reproduce**
Consider the following code:
[code]

**Expected Output**
[code]

**Screenshots**
https://i.imgur.com/xTvEhlL.png

**Additional context**
Tested on v7.2.1 and v7.1.3

[2019-07-15 18:09] nebrelbug commented on #118
Alrighty @tabarra, this should be fixed with release `7.3.0` :smiley:

Let me know if this works! 👍

I was also able to reduce the minified size of Squirrelly to 5kb minified and 2.2kb minzipped with the latest release (https://bundlephobia.com/result?p=squirrelly@7.3.0)

[2019-07-15 18:09] #118 closed

[2019-07-15 18:10] #115 closed

[2019-07-23 23:20] 4hm3d commented on #106
@nebrelbug this is really great work!

[2019-07-24 13:50] nebrelbug commented on #106
Thanks @4hm3d! Let me know if you have any suggestions!

[2019-08-20 17:53] nebrelbug commented on #113
Fix is coming out in the next week :)

[2019-08-21 03:04] nebrelbug commented on #113
Fixed in Squirrelly [7.5.0](https://github.com/squirrellyjs/squirrelly/releases/v7.5.0)!

[2019-08-21 03:05] #113 closed

[2019-08-21 03:08] #109 closed

[2019-08-21 03:08] nebrelbug commented on #109
@ppKrauss I'm going to include this in the docs website :)

[2019-08-31 05:43] clitetailor opened #120 "Explicit Helper References"
Currently, helper references are referred implicitly in template:

[code]

This is quite bad practice when people always have to remember the names of refs. Dealing with nesting refs is ~~quite~~ really odd, also:

[code]

So the idea of this proposal is to explicitly assign ids to refs and reference them by ids:

[code]

Later in `defineHelper`, we can define our helper like this:

[code]

This w

[2019-09-01 00:17] nebrelbug commented on #120
Hi @clitetailor - sorry for the late reply, and thanks for the suggestion!

I really like your idea of the user naming helper references! This would allow us to get rid of IDs and scoping (`../`), which I agree have rather clumsy syntax.

My initial thought is that I'd prefer still using the `@` sign, because I feel that it makes it easier to distinguish helper references from global references.

[2019-09-01 00:35] nebrelbug commented on #120
Also, what do you think of a few ideas I have to make the syntax easier to read at a glance?

1.
[code]
2.
[code]

[2019-09-01 07:52] clitetailor commented on #120
You reply so fast actually 😄

This is not a problem. We'd better let scope do its job. Actually, `@` can be used in better way:

[code]

This way, we can explicitly tell which variables or helpers the template use. It would be even nicer if  we can illustrate scoped import (which also useful if we provide code splitting).

This is also not a problem, many template engines use this pattern (Svelte

[2019-09-03 02:37] nebrelbug commented on #120
Thanks for all of the great ideas and code examples!

What about something like this:
[code]

And for the `load` example, something like this:
[code]

I like using a `:`, but I think I might like `=>` even better because it's similar to JS arrow function syntax

[2019-09-03 03:04] nebrelbug commented on #120
As far as using `@`, right now Squirrelly takes all references that don't start with `@` (so global references) and compiles them into `options.[reference]`. Ex. `{{stuff}}` is compiled into `options.stuff` (`options` contains the data that was passed into the template). Similarly, helper references are compiled into code that references a 	helper object passed down as a parameter.

I just had an

[2019-09-13 01:54] nebrelbug opened #124 "All Contributors add past contributors"
@all-contributors please add @nebrelbug for code, questions, docs, and tests.

[2019-09-26 17:29] 7iomka opened #126 "VM661:3 Uncaught ReferenceError: hvals is not defined"
UPD: https://codepen.io/7iomka/pen/rNBbygN?editors=1010

I'm new with your plugin, and I don't know how to do my code working..
Help me please...

I temporary use handlebars to do same to work
https://codepen.io/7iomka/pen/pozBerx?editors=1010

[2019-09-27 03:07] nebrelbug commented on #126
Hi @7iomka, looks like you actually spotted a bug! Let me take a look at this and see if I can deploy a quick fix.

[2019-09-27 14:57] 7iomka commented on #126
sorry for changed content in provided link, because I temporary use handlebars, because I don't found a solution for this error.
I updated the link for demo with problem.

[2019-10-04 15:22] michaelguild13 commented on #106
When is v8 coming out?

[2019-10-07 14:56] nebrelbug commented on #106
Hi @michaelguild13! I'm shooting for a release by the end of 2019.

[2019-10-08 13:44] mbo2olivier commented on #45
Hello,
squirrelly throw an syntax error on IE11 because of "const" keyword.

[2019-10-08 15:20] mbo2olivier commented on #45
@nebrelbug  thank you very much, you will greatly relieve me.
it's been hours that I try to configure webpack and Babel to recompile squirrelly.js but without success.

[2019-10-08 17:48] nebrelbug commented on #45
@mbo2olivier no problem! Expect a release within 10 hrs, and hopefully sooner :)

[2019-10-10 00:04] nebrelbug commented on #45
@mbo2olivier just released v7.7.0 with the fix 😃

[2019-10-11 02:19] nebrelbug commented on #124
I'll add new contributors on new issues. Closing this now 😃

[2019-10-11 02:19] #124 closed

[2019-10-15 00:58] donpedro commented on #126
Perhaps just a workaround, but see [forked pen](https://codepen.io/eldonpedro/pen/GRRZMYB?editors=1010) where the one change is on HTML line 2: `{{each(@items)}}` to `{{each(options.items)}}`

Should we expect `{{each(@items)}}` to work? If so, why? Actually, according [the docs](https://squirrelly.js.org/docs/v7/global-refs), I would expect `{{each(items)}}` to work, but it does not-- I get `Unca

[2019-10-15 02:23] nebrelbug commented on #126
Hi @donpedro, thanks for the response! Your change:

is correct! Unfortunately, there's one more problem (the bug) - the `if` helper doesn't have helper variables, but Squirrelly still increases the scope at which it looks for the helper refs. So if you compare [your pen](https://codepen.io/eldonpedro/pen/GRRZMYB?editors=1010) (which is syntactically correct) to @7iomka's [pen with Handlebars](htt

[2019-10-15 03:26] nebrelbug commented on #126
@7iomka @donpedro It turns out there actually isn't a bug! I've been puzzling for a while trying to figure out where the bug is, but it turns out that the template has `@this.type === "1"` instead of `@this.type === 1`. Here's a link to my [working CodePen](https://codepen.io/nebrelbug/pen/yLLOpJv?editors=1010) with the necessary changes :)

It's good to know that Squirrelly was actually working w

[2019-10-15 03:26] #126 closed

[2019-10-15 15:46] nebrelbug commented on #108
Hi @konstardiy! The next version of Squirrelly isn't out yet, but I just wrote a helper that allows you to use layouts!

You can check it out here: https://stackblitz.com/edit/squirrelly-layouts. You only need to look at `index.js`, because `storage.js` just has some of my future ideas :)

Hope this helps! :smiley:

[2019-10-16 00:06] nebrelbug commented on #126
@donpedro @7iomka is it alright if I add you both to the README as contributors?

[2019-10-16 15:22] donpedro commented on #126
@nebrelbug sure!

[2019-10-16 19:02] nebrelbug commented on #126
Great! @all-contributors please add @donpedro for answering questions

[2019-10-16 19:48] nebrelbug commented on #126
@donpedro thanks for your involvement! You're now listed as a contributor on the README.

Hope you contribute more to Squirrelly in the future!

[2019-11-08 09:46] franckobe opened #131 "Strange bug"
**Describe the bug**
Uncaught ReferenceError: hvals is not defined when trying to display a td, but not with a li

**To Reproduce**
https://codepen.io/franckobe/pen/XWWYXZK

You can test with buttons a working case and a not working case. I don't understand the reason.

Thanks

**Extra comment**
It seems to be with tables, when i try to put an if aroud a tr it is not interpreted

[2019-11-08 16:03] nebrelbug commented on #131
@franckobe thanks for submitting an issue!

For some reason, running
[code]
outputs:
[code]
Which means there seems to be an issue with the HTML `template` element rather than Squirrelly

[2019-11-08 16:03] nebrelbug commented on #131
I'll try to look into this more later tonight

[2019-11-09 02:42] nebrelbug commented on #131
See: https://stackoverflow.com/questions/58775831/js-get-html-template-innerhtml-with-table-content-fails/58775887#58775887

Apparently, you can't have plain text inside a `tbody`, so the parser errors. I'd recommend using a `<script>` tag instead of a `<template>` tag.

Example:
[code]

Let me know if this helps!

[2019-11-12 00:02] nebrelbug commented on #131
Closing this :)

Here's a working demo with the fix: https://codepen.io/nebrelbug/pen/wvvxOwK

[2019-11-12 01:55] #131 closed

[2019-11-12 07:32] franckobe commented on #131
Ok thank you !
I find the script tag less intuitive than template tag for templating but no choice.

I had another example, like the following example that worked, that's why i didn't understand. But now this is clear, only html tags in table tags.
I didn't think that html parser block the execution like this.

[code]

Thanks for your work !

[2019-11-13 07:18] saeedcs commented on #65
How do we include one template file into another, any assistance in this matter will be appreciated

[2019-11-13 15:50] tandrewnichols commented on #103
See https://www.npmjs.com/package/fastify-squirrelly

[2019-11-14 16:32] nebrelbug opened #132 "Roadmap"
After a lot of thought, I have decided that one more major version is in order before the complete rewrite.

## Probable Changes
<details>
  <summary>Better tooling (easier / more powerful caching, etc.)</summary>

- Caching, loading templates as files, etc. all need updates
</details>
<details>
  <summary>Layouts, template inheritance</summary>
It's trivial to write a helper or native helper that

[2019-11-18 03:14] hrsetyono commented on #65
Hi just want to contribute an example as a non-Node developer:

https://codepen.io/hrsetyono/pen/gOOZWgW

This basic usage in HTML is missing in the Learn section. We might think it's obvious how to do it, but lots of beginners will find this easier to grasp.

[2019-11-18 16:14] nebrelbug commented on #65
@hrsetyono this is great! Would you like to put together a pull request to add this to the docs?

If not I'll add it, probably under Resources / Examples :smiley:

[2019-11-20 14:02] hrsetyono commented on #65
@nebrelbug Glad you like it. Feel free to add it to the Resources / Examples

[2019-12-03 17:40] jasonfutch commented on #132
@nebrelbug Point me to `squirrelly-next` and I'll start contributing when I have time.

[2019-12-10 17:55] clitetailor commented on #120
Hi, @nebrelbug sorry for the long delay. Coming back to the issue after a long time, here is my few thoughts:

After thinking for a while, i think this is the most suitable syntax to be used.

For the scope of this issue, there're two changes that are possible:
- Try the new helper syntax.
- Remove relative path reference syntax `@../`, variables are now reference by scope only.

One thing i'm not

[2019-12-10 20:51] nebrelbug commented on #132
@jasonfutch sorry for the late response! I'm on vacation with limited access to internet. Contributions will be awesome! I don't have `squirrelly-next` up quite yet, but I should publish my work within the next 15 days, and I'll let you know when I do :)

[2019-12-12 02:29] hustcer commented on #132
Awesome !

[2019-12-15 19:28] nebrelbug commented on #120
Hi @clitetailor, it's good to hear from you! I've actually changed my mind from before. I still think the syntax you quoted is best, but I think it's probably best that we don't use `@` at all or distinguish between data references, scoped references etc.

`options` just holds data the user puts into the template.

On the bright side, I just finished a parser for this new syntax! I'll post it on G

[2019-12-17 07:53] pke commented on #106
So its out ;)
I wonder how to do layouts with it? Coming from Jekyll layouts are very helpful.

[2019-12-19 17:27] nebrelbug commented on #106
Hi @pke! It's not officially released yet, I just finally got a basic working version. As far as layouts, here's how to do them with the current version: https://stackblitz.com/edit/squirrelly-layouts

And here's what they will probably look like in the next version (example modified from Nunjucks docs):

_layout.sqrl_
[code]

_template.sqrl_
[code]

Rendering _template.sqrl_ would output:
[code]

[2020-01-02 18:07] fatganz opened #135 "Site: Playground page breaks"
**Describe the bug**
When inserting potentially invalid template whole Playground page breaks.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the playground page
2. insert the following snippet ```{{if(htmlstuff)}}test{{/if}}```
3. whole playground page is broken

**Expected behavior**
The playground page shouldn't break because people are trying to learn new things there. It should b

[2020-01-02 18:13] nebrelbug commented on #135
@fatganz so sorry - I'll work to fix this issue. In the meantime, you can use: https://raw.githack.com/squirrellyjs/squirrelly/master/demo.html

[2020-01-02 18:22] fatganz commented on #135
Thanks for the quick reply and workaround! Not sure if this is an appropriate place, but thanks for keeping project alive.

[2020-01-18 18:36] dhuang612 commented on #14
Hi,

I would be interested in working on this.
Do you mean benchmarks like this one?
https://github.com/v8/web-tooling-benchmark

[2020-01-18 20:47] nebrelbug commented on #14
@dhuang612 exactly! Here are some resources you could potentially use:

- https://aui.github.io/art-template/rendering-test/
- https://github.com/rstacruz/benchmarkjs-runner
  - You'd probably need to update this

Let me know how this goes :smiley:

[2020-01-31 03:20] nebrelbug opened #136 "Add v8 contributors"
@all-contributors please add @nebrelbug for code, questions, docs, and tests.

[2020-01-31 03:29] nebrelbug commented on #136
@all-contributors please add @nebrelbug for code, questions, docs, and tests.

[2020-01-31 03:51] nebrelbug commented on #136
@all-contributors please add @nebrelbug for code, questions, docs, and tests. Again :)

[2020-01-31 03:58] nebrelbug commented on #106
## JUST PUBLISHED SQUIRRELLY 8 BETA!

[2020-02-14 06:17] greenkeeper[bot] opened #142 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.31.0` to `1.31.1`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/master...squirrellyjs:greenkeeper%2Frollup-1.31.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It

[2020-02-15 19:28] #142 closed

[2020-02-16 05:16] greenkeeper[bot] opened #143 "An in-range update of typedoc is breaking the build 🚨"
## The devDependency [typedoc](https://github.com/TypeStrong/TypeDoc) was updated from `0.16.9` to `0.16.10`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/master...squirrellyjs:greenkeeper%2Ftypedoc-0.16.10).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

typedoc is a devDependency of this p

[2020-02-17 17:40] #143 closed

[2020-02-17 23:51] papb opened #144 "What was the problem with np for v8.0.0-beta.3?"
May I ask what was the problem? And how did you work around it? Is this being tracked in the [np repository](https://github.com/sindresorhus/np) already? (From a cursory look there I didn't find anything...) Is this a regression on np?

Let's make np better :)

[2020-02-18 00:23] nebrelbug commented on #144
Hi @papb! The problem was mainly user error. I updated `np`, and didn't realize it now required input of the 2FA code. So, to me, it looked like it was lagging infinitely :)

I canceled `np` because I thought it was frozen, but `v8.0.0-beta.3` was already tagged on GitHub and I decided to just publish one version higher.

[2020-02-18 00:43] #144 closed

[2020-02-18 00:44] papb commented on #144
@nebrelbug Ah I see, thanks for your time :)

[2020-02-19 00:25] nebrelbug commented on #120
Hi @clitetailor! Just wanted to let you know that the Squirrelly v8 betas are published with your idea for template syntax! Would you be ok if I added you to the contributors in the README?

[2020-02-19 16:37] clitetailor commented on #120
Oh, that's great! I'd love to! 😄

[2020-02-19 23:29] nebrelbug commented on #120
Great! @all-contributors please add @clitetailor for ideas and code!

[2020-02-19 23:34] nebrelbug commented on #120
Alrighty @clitetailor, just added you! I'm going to close this issue now because it's implemented.

It's been a pleasure working with you and I hope you continue to contribute!

[2020-02-19 23:34] #120 closed

[2020-02-19 23:35] nebrelbug commented on #108
Hi @konstardiy, layouts are implemented in Squirrelly v8!

[2020-02-19 23:35] #108 closed

[2020-02-19 23:40] nebrelbug commented on #132
@jasonfutch @hustcer hey, just realized I never replied!

I actually just recently merged `squirrelly-next` with this repo and published v8 as a beta on the master branch! I don't have documentation written for it yet, but I'd love any contributions.

You should be able to look in the `tests/` folder and the source code to get an idea of the API.

[2020-02-19 23:42] nebrelbug commented on #56
Hi @ichiriac! I know it's been a while, but I recently published the first betas of Squirrelly v8, which implement many of your suggestions. Is it alright if I add you to the README as a contributor?

[2020-02-21 19:36] SomaticIT opened #146 "Render breaks when using some custom tags"
**Describe the bug**
When using some custom tags, the whole template engine breaks.
1. Not important: `["[", "]"]` breaks because it should be escaped,
2. Important: `["\\$\\(", "\\)"]` breaks because parens are interpreted by squirrelly.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure: `Sqrl.defaultConfig = ["\\$\\(", "\\)"];`
2. Create template: `const template = "Data: $(test)";

[2020-02-21 22:12] nebrelbug commented on #146
Hi @SomaticIT! Glad to hear you like this project! Unfortunately, it's not going to be possible to use `(`, `|`, or `=>` inside of the closing delimiters. I looked for a while at possibilities, but it would just be too complex.

Could you just slightly change the delimiters?

Example:
[code]

[2020-02-23 09:57] ichiriac commented on #56
Hi @nebrelbug, it would be kind 😄, I wished to do more but didn't had time. Glad to see you released the v8, sounds like node's engine 😁

[2020-02-25 00:17] nebrelbug commented on #56
Sweet! @all-contributors please add @ichiriac for code and ideas!

[2020-03-02 18:40] greenkeeper[bot] opened #148 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.21.0` to `2.22.0`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/master...squirrellyjs:greenkeeper%2F%40typescript-eslint%2Fparser-2.22.0).

This version is **covered** by your **current version range** and after updating it in your project **th

[2020-03-04 06:22] adriangith opened #149 "Activating async causes the loop helpers to return [object Promise]"
**Bug**
Setting `async: true` when calling `Sqrl.render` causes the `foreach` and `each` helpers to return `[object Promise]`

**Expected behavior**
Should return the text within the helper blocks

**Package & Environment Details**
- Version 8: Beta 8

[2020-03-05 03:05] nebrelbug commented on #149
Hi @adriangith, thanks for reporting the issue! This was a problem with Squirrelly's async implementation. I actually decided to just rewrite async handling, and I'll hopefully push the fixes tomorrow :smiley:

[2020-03-06 10:18] greenkeeper[bot] opened #150 "An in-range update of rollup is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.32.0` to `1.32.1`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/master...sq

[2020-03-17 03:24] nebrelbug opened #154 "Squirrelly v8: miscellaneous thoughts & todo items"
This is an issue for me (as a maintainer) to keep track of To-do items and random ideas.

[2020-03-17 03:24] nebrelbug commented on #154
*Note: these are taken from "TODO.md" and "Thoughts.md"*

- Make sure `copyProps` doesn't deep-link plugins
- _Edit: probably not_: Use one of these RegExps (use the first unless it somehow breaks) to capture groups while looping through powerchars:

[code]

[2020-03-17 03:29] #150 closed

[2020-03-17 03:30] #148 closed

[2020-03-18 21:35] greenkeeper[bot] opened #158 "An in-range update of ts-node is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [ts-node](https://github.com/TypeStrong/ts-node) was updated from `8.6.2` to `8.7.0`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/master.

[2020-03-21 02:32] nebrelbug commented on #149
Hi @adriangith, I just realized I forgot to respond! Just so you know, newer versions of Squirrelly 8 have this problem fixed :)

[2020-03-22 10:44] greenkeeper[bot] opened #160 "An in-range update of eslint-config-prettier is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) was updated from `6.10.0` to `6.10.1`.

🚨 [View failing branch](https://github.com/squirrell

[2020-03-25 03:07] #149 closed

[2020-03-25 06:52] greenkeeper[bot] opened #161 "An in-range update of @types/node is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `13.9.3` to `13.9.4`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirre

[2020-03-30 19:21] greenkeeper[bot] opened #163 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.25.0` to `2.26.0`.

🚨 [View failing branch](https://github.com/sq

[2020-03-31 15:15] greenkeeper[bot] opened #164 "An in-range update of lint-staged is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [lint-staged](https://github.com/okonet/lint-staged) was updated from `10.1.0` to `10.1.1`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/m

[2020-04-02 21:48] #160 closed

[2020-04-02 21:48] #158 closed

[2020-04-02 21:49] #161 closed

[2020-04-02 21:50] #164 closed

[2020-04-02 21:50] #163 closed

[2020-04-06 02:53] greenkeeper[bot] opened #169 "An in-range update of typedoc is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [typedoc](https://github.com/TypeStrong/TypeDoc) was updated from `0.17.3` to `0.17.4`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/maste

[2020-04-08 16:14] corzani opened #171 "Missing "Get started" page on squirrelly.js.org (current)"
Clicking on "Get Started" from the page "https://squirrelly.js.org/" gives a 404 page.

[2020-04-09 03:16] nebrelbug commented on #171
@corzani thanks for catching this!

[2020-04-09 14:21] greenkeeper[bot] opened #173 "An in-range update of lint-staged is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [lint-staged](https://github.com/okonet/lint-staged) was updated from `10.1.2` to `10.1.3`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/m

[2020-04-10 01:44] greenkeeper[bot] opened #174 "An in-range update of rollup is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `2.3.4` to `2.3.5`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/master...squi

[2020-04-10 03:02] #174 closed

[2020-04-10 03:03] #169 closed

[2020-04-10 03:03] #173 closed

[2020-04-10 03:17] nebrelbug commented on #171
Just fixed this :)

[2020-04-10 03:17] #171 closed

[2020-04-10 09:28] corzani commented on #171
@nebrelbug Thanks to you

[2020-04-10 21:04] greenkeeper[bot] opened #178 "An in-range update of rollup is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `2.4.0` to `2.5.0`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/master...squi

[2020-04-13 17:55] greenkeeper[bot] opened #179 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.27.0` to `2.28.0`.

🚨 [View failing branch](https://github.com/sq

[2020-04-17 21:47] greenkeeper[bot] opened #180 "An in-range update of @types/node is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `13.11.1` to `13.13.0`.

🚨 [View failing branch](https://github.com/squirrellyjs/squir

[2020-04-18 08:26] greenkeeper[bot] opened #181 "An in-range update of lint-staged is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [lint-staged](https://github.com/okonet/lint-staged) was updated from `10.1.4` to `10.1.5`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/m

[2020-04-20 20:50] greenkeeper[bot] opened #182 "An in-range update of ts-node is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [ts-node](https://github.com/TypeStrong/ts-node) was updated from `8.8.2` to `8.9.0`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/master.

[2020-04-24 23:43] greenkeeper[bot] opened #184 "An in-range update of coveralls is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.14` to `3.1.0`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compa

[2020-04-26 17:41] greenkeeper[bot] opened #186 "An in-range update of typedoc is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [typedoc](https://github.com/TypeStrong/TypeDoc) was updated from `0.17.4` to `0.17.5`.

🚨 [View failing branch](https://github.com/squirrellyjs/squirrelly/compare/maste

[2020-04-28 18:52] #178 closed

[2020-04-28 18:52] #179 closed

[2020-04-28 18:52] #180 closed

[2020-04-28 18:52] #181 closed

[2020-04-28 18:52] #182 closed

[2020-04-28 18:52] #184 closed

[2020-04-28 18:52] #186 closed

[2020-05-01 17:07] insider777 commented on #154
What about the ability to parse like this {{~i18n`hello ${world}`/}}

[2020-05-01 18:21] nebrelbug commented on #154
@insider777 hmm that would be really nice, but I don't think there's an easy way to add that behavior exactly. You could pass in `i18n` as data though and then do

[code]

By the way, quick question: it looks like you're using the beta of Squirrelly v8. Recently, I've considered changing the default helper "prefix" to `@` instead of `~`, to make it easier to type for people with international keyb

[2020-05-18 11:49] kerosin opened #188 "Use passed data object as root"
**Is your feature request related to a problem? Please describe.**
It seems unnecessary for template string authors to add a variable name for the given data object.

**Describe the solution you'd like**
It would be great to use data objects without the need of a variable name:
[code]
This of course would make it impossible to access something like a global context, but this might be desired.
It w

[2020-05-18 15:10] kerosin opened #189 "Values on Pipes get stringified before passed to filter function"
**Describe the bug**
data types like Arrays get stringified, before passed to the corresponding filter function.

example:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create filter with the name 'length' and set a breakpoint at it
2. call render function with the given filter 'length' on an array
3. Look at the data type on the filter function

**Expected behavior**
Plain value is

[2020-05-18 15:59] nebrelbug commented on #188
Hi @kerosin, thanks for the question!

This is possible by setting the configuration option `useWith` to `true`.

Example:

[code]

I should probably update the documentation to explain this :smiley:

Hope this helps!

[2020-05-18 16:09] nebrelbug commented on #189
Hi @kerosin! The problem here is that, by default, Squirrelly will first pass the value through a filter that XML-escapes it. By default, that filter converts its values to strings.

So, in pseudo-code, `{{it.names | length}}` would be parsed roughly into `length(autoEscape(it.names))`

One simple way to solve this problem would be to disable auto-escaping on that value. Examples: `{{* it.names |

[2020-05-18 16:11] nebrelbug commented on #189
After explaining this, though, I realized I should probably just make `autoEscape` the last filter -- so `{{it.names | length}}` would be parsed into `autoEscape(length(it.names))`.

I'll need to do a bit more testing to make sure this wouldn't break anything. In the meantime, either of the solutions above will hopefully work :)

Thanks for the questions!

[2020-05-19 06:14] kerosin commented on #188
Hi @nebrelbug ,
thanks for your quick response :)

One thing I noticed if using ```useWith``` with ```true```:
[code]
returns the global object if the corresponding key was not found on the object, although useWith is set.

[2020-05-19 06:18] kerosin commented on #189
Thanks for your explanation 😃
I think it makes sense to escape as early as possible - that should be fine.

```{{it.names | safe | length}}``` worked for me

Thank you for your great template engine! I will close this on

[2020-05-19 06:18] #189 closed

[2020-05-19 06:34] kerosin opened #190 "Own Error handler if given data is invalid"
**Is your feature request related to a problem? Please describe.**
Currently squirrelly throws an exception if invalid data has been passed to```Sqrl.render```, which is totally fine as default.

**Describe the solution you'd like**
It would be great to have the possibility to define a custom error handler, which might return a result instead of throwing

e.g.
[code]
-> could both return ```'Hello

[2020-05-19 16:16] nebrelbug commented on #188
@kerosin yes, this is expected behavior. It makes it possible to use variables from helpers, like:

[code]

I'll make sure to explain this in the docs too :)

[2020-05-19 16:19] nebrelbug commented on #190
@kerosin great question! Some simple error handling is possible with the `try` helper.

See https://runkit.com/nebrelbug/squirrelly-try-catch for an example :)

[2020-05-19 17:42] #188 closed

[2020-05-29 13:24] jenstornell opened #192 "Partials does not work in Electron"
I have placed the file `mypartial.html` in the root of Electron which runs with node.

[code]

[2020-05-29 17:55] nebrelbug commented on #192
Hmm, I'm not sure why this would be happening.

Can you try doing `{{@include("mypartial.html")/}}`?

I'm guessing Electron uses a different root folder.

[2020-06-14 00:13] Arturace opened #196 "No doc or examples on how to make a layout in v8?"
I've been searching all sorts of places to find some example for v8 layouts, can't fine much. The closest thing I found was [this](https://github.com/squirrellyjs/squirrelly/issues/106#issuecomment-567584969), but I don't even know if this is the final syntax, but apparently it is implemented?

The [docs](https://squirrelly.js.org/docs/api/templates-partials-layouts/#defining-partials) aren't help

[2020-06-14 00:33] Arturace commented on #196
Overall, the docs seem to be incomplete or unfinished...

[2020-06-14 01:09] Arturace commented on #196
I have finally found it! [test/templates](https://github.com/squirrellyjs/squirrelly/tree/master/test/templates) had it all!

[2020-06-14 01:09] #196 closed

[2020-07-04 01:36] nebrelbug commented on #196
@Arturace glad you found it! Sorry about the poor documentation on that front.

[2020-07-26 06:24] VictorAyalaMX commented on #192
I had the same issue with nodejs, In my case the confusion happened because [this doc page](https://squirrelly.js.org/docs/syntax/partials) never mentions we are supposed to define partials in advance during Squirrelly setup:

[code]

The above is explained in the [last page](https://squirrelly.js.org/docs/api/templates-partials-layouts) of the documentation.

@nebrelbug
**Question**: How can I de

[2020-08-15 19:58] nebrelbug commented on #192
Hi @VictorAyalaMX, great question (and sorry for the poor documentation).

Actually, you should be able to use `{{@ includeFile('../footer.html', {data: ...}) /}}`. Note that for this to work you'll have to pass the `filename` option in the configuration of the template file you're rendering (if you're using Express this works automatically)

Embarrassingly, it looks like I didn't actually documen

[2020-08-18 19:52] w3hr commented on #154
The version 8.0.4 seems not working with express

`res.render('index', { name: "test"})`

ReferenceError: name is not defined

i tested with version 7.0.4, 7.9.2 and it works, it does also not working with version 8.0.0

[2020-08-18 20:00] nebrelbug commented on #154
Hi @w3hr! There have been some significant changes to Squirrelly's syntax since version 7, so your Squirrelly v7 templates most likely will not work with Squirrelly v8.

The new Squirrelly docs are at https://squirrelly.js.org

Let me know if you have any questions! :grin:

[2020-08-18 20:05] w3hr commented on #154
ok my bad, thx

[2020-09-04 18:22] futurelucas4502 opened #199 "When using sqrl.templates.define() I get an error"
**Describe the bug**
A clear and concise description of what the bug is.

When using the following snippet of code:
[code]

I believe the reason for this error is because [here](https://github.com/squirrellyjs/squirrelly/blob/master/dist/squirrelly.cjs.js#L705) `template` is being defined as a variable and then `template()` is being called as if its a function however because we now have a functio

[2020-09-04 18:36] nebrelbug commented on #199
@futurelucas4502 thanks for submitting this! I like the idea to name `template` to `templateFunc`.

Actually, though, the reason your code errors is because you should define the partial as a compiled template function, which you get using `compile`.

Here's an example that should work (though I haven't tested it)

[code]

[2020-09-04 19:07] futurelucas4502 opened #200 "An error can occur if no data is passed to renderFile() as no check is done to see if data is defined"
**Describe the bug**
A clear and concise description of what the bug is.

When using renderFile if the data parameter is not passed it can cause an error as there is no check to see if it is undefined.

Changing [this](https://github.com/squirrellyjs/squirrelly/blob/master/dist/squirrelly.cjs.js#L1062-L1076) section of code to the following ensures no error will occur:
[code]

**Environment:** Nod

[2020-09-04 19:29] nebrelbug commented on #199
@futurelucas4502 oops, I forgot that `readFileSync` returned a buffer. Glad you were able to get it working :smiley:

By the way, if you use `{{@includeFile() /}}`, you don't even have to register the partial ahead of time.

Example (again, off the top of my head, haven't tested it):
[code]

[2020-09-04 21:38] futurelucas4502 commented on #199
Hi there that would make my code a lot neater thank you I'm going to implement that now

also if you're wondering why I'm having so many issues its because I'm building a template view renderer for electron

[2020-09-04 21:44] nebrelbug commented on #199
@futurelucas4502 awesome, it looks really cool!

[2020-09-04 21:47] nebrelbug commented on #200
Good catch! I never thought about that possibility.

In order to reduce code size, we could even change

[code]
to
[code]

Do you want to submit a PR with the change?

[2020-09-05 14:12] futurelucas4502 commented on #200
Good idea I didn't even think about that and sure I'll do a pull request in just a sec

[2020-09-05 14:34] futurelucas4502 commented on #200
What version of yarn is being used classic or yarn 2?

[2020-09-05 14:36] nebrelbug commented on #200
Yarn classic

[2020-09-05 15:45] #200 closed

[2020-09-05 18:15] #199 closed

[2020-09-08 20:23] jmclean-cnexus commented on #154
@nebrelbug is it possible to pass in the entire `it` context and append any key=>value pairs? There is a ton of customizations with data transformations that take place based on logic which would be much easier to do in native js/ts. something like

[code]

[2020-09-08 21:37] nebrelbug commented on #154
@jmclean-cnexus I don't quite understand what your problem is. Do you want to modify `it` before rendering your template?

[2020-09-08 22:39] jmclean-cnexus commented on #154
@nebrelbug no problem at all...just thinking out loud really. I work in Fintech and we have a lot of <insert_adjective> rules. I was thinking for one of my use cases, that if I could just render a value (which is adding together a principal amount + interest) and attach it to the context before rendering my template, I could just use something like `it.calculated`.

So, in short...yes! Feel free t

[2020-09-09 19:12] nebrelbug commented on #154
@jmclean-cnexus ok, that makes sense. On first thought, I think it's probably best to leave this up to the user to handle before they render their templates so as to keep bundle size low.

I'm open to suggestions though :), so if you think this feature would be helpful feel free to open an issue or PR.

[2020-09-11 14:40] nebrelbug commented on #135
I've updated the Playground page, so closing now :smiley:

[2020-09-11 14:40] #135 closed

[2020-09-11 14:41] #190 closed

[2020-09-11 16:58] #192 closed

[2020-09-11 17:00] #56 closed

[2020-09-11 17:01] #65 closed

[2020-09-11 17:02] #45 closed

[2020-09-11 17:03] #106 closed

[2020-09-11 17:04] nebrelbug commented on #14
I've added browser benchmarks, so I'll close this now.

[2020-09-11 17:04] #14 closed

[2020-09-11 17:07] #146 closed

[2020-09-11 19:38] #136 closed

[2020-09-19 14:41] joas8211 opened #207 "Content of each helper doesn't support async filters"
`each` helper with async filter within it compiles to invalid code as `each` helper doesn't use async function, but instead a normal function for rendering it's contents. I imagine there could also be other helpers that doesn't support async.

Running following code reproduces the bug. I've also made [a fiddle](https://jsfiddle.net/0mn6eq9k/15/) with the same code if anyone wants to easily run it

[2020-09-20 02:29] nebrelbug commented on #207
Hey @joas8211, thanks for the great question (and the reproducible demo)!

Actually, this can be fixed by replacing `@each` with `@async each`. Squirrelly doesn't infer that a helper is asynchronous just because it has asynchronous inner content, so you have to explicitly mark it as asynchronous :) Hopefully someone will make a linter for Squirrelly that catches errors like this :wink:

[code]

An

[2020-09-20 06:15] joas8211 commented on #207
Thank you for your response @nebrelbug. I sertainly missed this fact while reading the docs. I'll close this issue because it wasn't a bug, but a user error instead.

But this gets me thinking that is marking helpers and filters async necessary at all if the template is compiled as async? Isn't it redundant to mark them separately if we could assume that every helper and filter is asynchronous? Do

[2020-09-20 06:15] #207 closed

[2020-09-21 09:03] lukereed1993 commented on #196
@nebrelbug Some proper documentation on this would be great as it's a really useful feature and I can't find anywhere where it's properly explained. I had to find this closed issue to figure it all out.

[2020-09-21 09:06] lukeinage commented on #196
@nebrelbug Some proper documentation on this would be great as it's a really useful feature and I can't find anywhere where it's properly explained. I had to find this closed issue to figure it all out.

[2020-09-21 15:06] nebrelbug commented on #196
@lukeinage sorry about that, you're right! I definitely need to update the documentation to explain this.

Hopefully I'll get to that this week :crossed_fingers:

[2020-09-22 10:23] LukaszGrela opened #208 "Question: renderFile usage - or how to load external template file"
I am trying to use the `squirrelly 8.0.8` to render my template, I want to load the template from a location. I found the `renderFile` that is promising method which I used like that:

[code]

but this fails with the `squirrelly__WEBPACK_IMPORTED_MODULE_3__.renderFile is not a function` error, what am I doing wrong?

The `console.log(Sqrl);` reveals following object:
![image](https://user-images.g

[2020-09-22 12:06] LukaszGrela commented on #208
It's about built in functionality:) as I can `fetch` a template file and feed it into `Sqrl.render`

[2020-09-22 15:33] nebrelbug commented on #208
Hi @LukaszGrela, good question!

Unfortunately, you can't use `renderFile` in a browser -- it's just for use in NodeJS. There isn't built-in functionality right now to render external files from a URL.

[2020-09-22 23:08] #154 closed

[2020-09-23 08:01] LukaszGrela commented on #208
Thanks for your response, this is what I've made up to use. Thanks.

[code]

or async version

[code]

[2020-09-23 08:01] #208 closed

[2020-09-23 14:17] nebrelbug commented on #208
@LukaszGrela glad you were able to get something working :smiley:

[2020-09-26 22:26] Indribell opened #209 "Missing null filter?"
When data consists of the following:

[code]

The result will be displayed as:

[code]

Is there no filter to automatically remove "null" from being displayed?

[2020-09-26 22:56] nebrelbug commented on #209
@Indribell good question! The best way is probably to define a default filter:

[code]

Let me know if this solves your problem!

[2020-09-27 00:01] Indribell commented on #209
@nebrelbug

This works perfectly. It may be interesting to add this to the documentation for other people to find?

[2020-09-27 00:01] #209 closed

[2020-10-15 18:07] nebrelbug opened #210 "New Lead Maintainer Wanted"
Hey everyone, this is @nebrelbug -- the lead maintainer of Squirrelly and its companion project, [Eta](https://eta.js.org).

On October 28, 2020, I will leave on a 2-year service opportunity. During that time, I will be unable to work on any of my open-source projects.

Since my date of departure is drawing closer, I've decided it is time to begin **looking for a new lead maintainer**.

## Maintai

[2020-10-26 15:32] nebrelbug commented on #210
If anybody would like to contribute to Squirrelly, I've added it to [Code Shelter](https://www.codeshelter.co/). They'll be able to vet potential contributors and grant edit and release access :)

[2020-11-06 16:09] thearthouse opened #212 "google crawler cant render"
why googlebot cannot render Sqrl content? on search (not inspect url) its only showing {{title}} indexed like that using V7

[2020-12-10 12:56] fry2k opened #214 "runtime for precompiled templates missing at version 8?"
Hello,

I love this tiny template engine and used it with version 7 at an old project.

Today I implemented version 8 at a new project and I miss the squirrelly.runtime.min.js

I use only precompiled templates at the client and I will never compile any template at the client. The old runtime has 947 bytes.
Right now I use dist/browser/squirrelly.min.js which works but has 9682 bytes.

Is there any

[2020-12-14 11:35] kerosin commented on #210
Is Eta also affected?

Thanks anyway for your great work ❤️

[2021-01-28 09:15] agustingianni opened #217 "Security Contact Needed"
Hello,

I am a member of the GitHub Security Lab (https://securitylab.github.com).

I've attempted to reach a maintainer for this project to report a potential security issue but have been unable to verify the report was received. Please could a project maintainer contact us at securitylab@github.com, or provide an email address so we can contact you.

Thank you,
Agustin Gianni (@agustingianni)
Gi

[2021-01-30 05:53] karlrudd commented on #217
The creator is currently away. I believe https://www.codeshelter.co/ now has the power to vet contributions. Please see #210 for further details.

[2021-02-01 13:48] agustingianni commented on #217
Thank you @karlrudd I will get in contact with them.

[2021-02-01 13:48] #217 closed

[2021-02-04 19:02] brsanthu opened #218 "Question: Is there a way remove the requirement to prefix 'it'?"
Thank you for the library.

Couple of questions.

1. Is it possible to refer to input variables without having to prefix them with 'it' in templates?
2. Is it possible to default the value to empty if variable is not defined? For ex., if we refer to {{user.firstName}} and if user is not defined, can we assume it is empty instead of compile error?

[2021-02-04 23:57] sfonua10 commented on #28
How do i comment out code in squirellyjs?

[2021-02-22 21:59] jasonfutch commented on #218
The 'it' is a nice feature but shouldn't be required as it is one of the reasons keeping me upgrading to version 8. I also feel that 'it' property name should be definable by the developer.

[2021-02-22 22:10] jasonfutch commented on #218
After reviewing the code looks like you can pass varName option to rename the variable to something else besides 'it'.

https://github.com/squirrellyjs/squirrelly/blob/572a643/src/config.ts#L50

[2021-04-06 10:04] Shanery commented on #218
From Someone else:

If you actually want to be able to write something like: `{{ reference }}` rather than `{{ it.reference }}`, simply render as such:

[code]

[2021-04-06 11:42] Shanery opened #220 "Handling "undefined" references"
At the moment I want to use `useWith: true`. The problem is that it always throws a reference error when the reference doesn't exist.

[code]

This causes a Reference error as key isn't defined... I want to be able to handle these cases (preferable just return an empty string). Any suggestions?

[2021-04-14 22:16] Shanery commented on #220
After reading through how this works I solved this by forking  the library and putting all the tR+= into try catch. I’m not sure it affects performance but there’s no other work around as it is a reference error...

[2021-04-14 22:16] #220 closed

[2021-05-06 09:26] ofkindness opened #223 "Version above 8 doesn't work with a expressjs"
**Describe the bug**
- Version above 8 fails during the `render` with a ReferenceError: name is not defined (I'm using example from website https://squirrelly.gitbook.io/docs/recipes/squirrelly-with-expressjs) then it fails on error route and fails again trying render error view with similar `ReferenceError: error is not defined`
- at the same time "squirrelly": "^7.9.2", works just fine with exac

[2021-05-18 10:24] #223 closed

[2021-07-15 01:22] coolaj86 opened #229 "[docs] How to use in the browser?"
I saw something about UMD support, but there's no snippet for what CDN to grab this from or how to use it in the browser (e.g. What's the name of the global?).

I'm expecting something like this:

[code]

[2021-07-22 05:16] wombatastronaut opened #230 "Conditions Doesn't Seem To Work"
I'm trying to use the condition inside the template but it's not working as expected.

Here's my full code:
[code]

But here's the result:
![image](https://user-images.githubusercontent.com/17607553/126592777-ef88d95c-f720-4b80-b97f-d99431eba293.png)

You can see that it didn't go to the ```if``` condition even though its true. I also render the name above and it has the correct value.

[2021-07-22 06:07] #230 closed

[2021-07-22 06:10] wombatastronaut opened #231 "Laravel Blade Conflict"
Is there way to use another prefix symbol for helpers? Because the ```@``` is already used by laravel blade as prefix.

[2021-08-15 13:33] sayoojbkumar opened #233 "RCE when combined with Prototype Pollution"
**RCE when combined with Prototype Pollution**
squirrelly-js vulnerable to **RCE** when **Prototype Pollution** exists.
A attacker can have control over  `defaultFilter` which leads to RCE

**To Reproduce**

_test.js_
[code]
_index.squirrelly_
[code]

**Screenshots**
![Screenshot from 2021-08-15 16-48-46](https://user-images.githubusercontent.com/57182519/129476689-cdba47c2-3971-45af-8bce-94d55674

[2021-09-09 05:23] iamfj commented on #210
What about an union of a few developers to take over the maintenance of squirrelly?

[2021-09-30 18:36] kumavis opened #236 "[docs] Gitbook Docs are out of date"
Gitbook website comes up when searching for debugging info. Examples seem to use incorrect (outdated?) syntax

eg https://github.com/nebrelbug/squirrelly.js.org/pull/7

[2021-10-29 08:29] milahu opened #237 "template variable at end of line consumes newline"
template variable at end of line consumes newline

### template

[code]

### actual result

[code]

### expected result

[code]

### environment

https://squirrelly.js.org/playground/

[2021-11-08 19:21] Rybadour commented on #218
This confused me to no end. All the examples on their website show templates without this "it" object. Are they just out of date?

[2021-11-08 21:50] brsanthu commented on #218
Looks like that requirement of prefixing with 'it' is here to stay so will close this issue.

[2021-11-08 21:50] #218 closed

[2021-12-14 03:46] jianyexi opened #238 "high severity vulnerrability"
**Describe the bug**
there is high severity vulnerability in latest npm package,
see https://github.com/advisories/GHSA-q8j6-pwqx-pm96
**To Reproduce**
Steps to reproduce the behavior:
npm audit

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Package & Environment Details**
 - En

[2022-02-05 16:49] sw360cab commented on #238
+1

[2022-02-11 17:56] StefanJelner commented on #131
Thanks for the advice! Today i stumbled upon the same problem, using `template` tags together with tables. Browsers parse the content of `template` tags as HTML and text nodes between some elements are considered malformed and therefore placed outside the table, leading to the squirrelly template being broken. The solution is a `script` tag.

One of the drawbacks using a `script` tag is, that synt

[2022-02-17 09:29] ilanl commented on #104
love to see this

[2022-02-23 05:54] Kukunin opened #240 "Uncaught ReferenceError: require is not defined in ViteJS"
**Describe the bug**
The package includes `require` that causes an exception in a browser bundle built by ViteJS. It happens because of these lines:

https://github.com/squirrellyjs/squirrelly/blob/master/src/file-utils.ts#L1-L2

That file should be imported only in nodejs build, not a browser. At least, it should not be included in ESM format

[2022-05-26 00:17] dynamikus commented on #238
+1

[2022-06-16 10:20] littlejak20 commented on #238
If I use Squirrelly on the client side, i.e. directly integrate the JS file.
Is there a vulnerability there too?
Or does this only affect the server-side application, in this case node-express?

I don't see any warnings on the following urls:
https://www.npmjs.com/package/squirrelly
https://github.com/squirrellyjs/squirrelly

In addition, the package is still online

[2022-08-12 19:45] Kukunin commented on #237
I had the same issue. Fixed by using `autoTrim: false` configuration

[2022-08-13 07:47] milahu commented on #237
thanks : )

closing as fixed

[2022-08-13 07:47] #237 closed